In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
df = pd.read_csv("bank.csv")
df

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,deposit
0,59,admin.,married,secondary,no,2343,yes,no,unknown,5,may,1042,1,-1,0,unknown,yes
1,56,admin.,married,secondary,no,45,no,no,unknown,5,may,1467,1,-1,0,unknown,yes
2,41,technician,married,secondary,no,1270,yes,no,unknown,5,may,1389,1,-1,0,unknown,yes
3,55,services,married,secondary,no,2476,yes,no,unknown,5,may,579,1,-1,0,unknown,yes
4,54,admin.,married,tertiary,no,184,no,no,unknown,5,may,673,2,-1,0,unknown,yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11157,33,blue-collar,single,primary,no,1,yes,no,cellular,20,apr,257,1,-1,0,unknown,no
11158,39,services,married,secondary,no,733,no,no,unknown,16,jun,83,4,-1,0,unknown,no
11159,32,technician,single,secondary,no,29,no,no,cellular,19,aug,156,2,-1,0,unknown,no
11160,43,technician,married,secondary,no,0,no,yes,cellular,8,may,9,2,172,5,failure,no
11161,34,technician,married,secondary,no,0,no,no,cellular,9,jul,628,1,-1,0,unknown,no

**Exploratory Data Analysis**

In [4]:
#  Indicates the rows and columns ofDataFrame!
df.shape

(11162, 17)

In [5]:
# to retrieve the column labels of a DataFrame
df.columns

Index(['age', 'job', 'marital', 'education', 'default', 'balance', 'housing',
       'loan', 'contact', 'day', 'month', 'duration', 'campaign', 'pdays',
       'previous', 'poutcome', 'deposit'],
      dtype='object')

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11162 entries, 0 to 11161
Data columns (total 17 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   age        11162 non-null  int64
 1   job        11162 non-null  object
 2   marital    11162 non-null  object
 3   education  11162 non-null  object
 4   default    11162 non-null  object
 5   balance    11162 non-null  int64
 6   housing    11162 non-null  object
 7   loan       11162 non-null  object
 8   contact    11162 non-null  object
 9   day        11162 non-null  int64
 10  month      11162 non-null  object
 11  duration   11162 non-null  int64
 12  campaign   11162 non-null  int64
 13  pdays      11162 non-null  int64
 14  previous   11162 non-null  int64
 15  poutcome   11162 non-null  object
 16  deposit    11162 non-null  object
dtypes: int64(7), object(10)
memory usage: 1.4+ MB

In [7]:
# descriptive statistics of the data frame (columns with data type 'object')
print(df.describe(include=['object']))

               job  marital  education default housing   loan   contact  \
count        11162    11162      11162   11162   11162  11162     11162
unique          12        3          4       2       2      2         3
top     management  married  secondary      no      no     no  cellular
freq          2566     6351       5476   10994    5881   9702      8042

        month poutcome deposit
count   11162    11162   11162
unique     12        4       2
top       may  unknown      no
freq     2824     8326    5873

In [8]:
# descriptive statistics of the data frame (columns with data type 'int64')
print(df.describe(include=['int64']))

                age       balance           day      duration      campaign  \
count  11162.000000  11162.000000  11162.000000  11162.000000  11162.000000
mean      41.231948   1528.538524     15.658036    371.993818      2.508421
std       11.913369   3225.413326      8.420740    347.128386      2.722077
min       18.000000  -6847.000000      1.000000      2.000000      1.000000
25%       32.000000    122.000000      8.000000    138.000000      1.000000
50%       39.000000    550.000000     15.000000    255.000000      2.000000
75%       49.000000   1708.000000     22.000000    496.000000      3.000000
max       95.000000  81204.000000     31.000000   3881.000000     63.000000

              pdays      previous
count  11162.000000  11162.000000
mean      51.330407      0.832557
std      108.758282      2.292007
min       -1.000000      0.000000
25%       -1.000000      0.000000
50%       -1.000000      0.000000
75%       20.750000      1.000000
max      854.000000     58.000000

In [9]:
df.duplicated().sum()

0

In [10]:
df.isnull().sum().sum()

0

In [11]:
# gives insights of the distribution of values for each feature in your DataFrame
features=["age","job","marital","default","balance","housing","loan","contact","day","month","duration","campaign","pdays","previous","poutcome","deposit"]
for i in features:
    print(df[i].value_counts(),i)
    print('='*100)

31    496
32    477
34    466
33    464
35    461
     ...
92      2
93      2
88      2
95      1
89      1
Name: age, Length: 76, dtype: int64 age
====================================================================================================
management       2566
blue-collar      1944
technician       1823
admin.           1334
services          923
retired           778
self-employed     405
student           360
unemployed        357
entrepreneur      328
housemaid         274
unknown            70
Name: job, dtype: int64 job
====================================================================================================
married     6351
single      3518
divorced    1293
Name: marital, dtype: int64 marital
====================================================================================================
no     10994
yes      168
Name: default, dtype: int64 default
====================================================================================================
 0       774
 1        39
 3        35
 2        34
 4        29
        ...
 5517      1
 8332      1
 4859      1
-267       1
-134       1
Name: balance, Length: 3805, dtype: int64 balance
====================================================================================================
no     5881
yes    5281
Name: housing, dtype: int64 housing
====================================================================================================
no     9702
yes    1460
Name: loan, dtype: int64 loan
====================================================================================================
cellular     8042
unknown      2346
telephone     774
Name: contact, dtype: int64 contact
====================================================================================================
20    570
18    548
30    478
5     477
15    466
14    463
13    453
21    452
6     447
12    445
8     419
17    411
28    410
4     402
29    388
19    384
7     382
11    373
16    369
9     364
2     334
3     306
27    284
22    269
26    252
23    245
25    224
10    163
31    140
24    122
1     122
Name: day, dtype: int64 day
====================================================================================================
may    2824
aug    1519
jul    1514
jun    1222
nov     943
apr     923
feb     776
oct     392
jan     344
sep     319
mar     276
dec     110
Name: month, dtype: int64 month
====================================================================================================
97      39
161     38
158     37
119     37
150     37
        ..
915      1
2029     1
1499     1
1399     1
1812     1
Name: duration, Length: 1428, dtype: int64 duration
====================================================================================================
1     4798
2     3028
3     1321
4      771
5      378
6      265
7      139
8      128
9       72
10      52
11      40
13      30
12      29
14      15
17      14
15      13
16       9
18       8
21       8
20       5
19       5
24       5
22       4
30       4
23       3
25       3
26       3
32       2
43       2
29       2
33       1
28       1
41       1
27       1
63       1
31       1
Name: campaign, dtype: int64 campaign
====================================================================================================
-1      8324
 92      106
 182      89
 91       84
 181      81
        ...
 437       1
 728       1
 518       1
 828       1
 118       1
Name: pdays, Length: 472, dtype: int64 pdays
====================================================================================================
0     8324
1      887
2      693
3      435
4      244
5      165
6      117
7       77
8       60
9       34
10      30
11      23
12      16
13      11
17      11
14       6
15       5
19       4
16       2
20       2
27       2
23       2
40       1
41       1
28       1
18       1
58       1
55       1
26       1
21       1
22       1
30       1
29       1
37       1
Name: previous, dtype: int64 previous
====================================================================================================
unknown    8326
failure    1228
success    1071
other       537
Name: poutcome, dtype: int64 poutcome
====================================================================================================
no     5873
yes    5289
Name: deposit, dtype: int64 deposit
====================================================================================================

**VISUALIZATION**

In [16]:
# Numerical features
numerical_features = ["age", "balance", "day", "duration", "campaign", "pdays", "previous"]

# Categorical features
categorical_features = ["job", "marital", "education", "default", "housing", "loan", "contact", "month", "poutcome"]

# target_variable
target_variable=['deposit']